---
layout: archive
---

<div class="grid__wrapper">
  <p style="text-align: center;"><span style="font-family:Verdana,Geneva,sans-serif"><span style="font-size:17px"><strong>👋 Hello! I'm @Jihyun22 👋</strong></span></span></p>
  <hr>
  <hr>
  <p align="center">
    <img src="https://visitor-badge.laobi.icu/badge?page_id=https://jihyun22.github.io/" alt="visitor">
    <!--  ![visitors](https://visitor-badge.glitch.me/badge?page_id=https://jihyun22.github.io/) --></p>
  <p>&nbsp;</p>
 
  <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "recent_posts" }}</h3>
  {% for post in paginator.posts %}
    {% include archive-single.html %}
  {% endfor %}
  {% include paginator.html %}
</div>


